<!-----------*******entrada del usuario*******---------------->
<!--
<app-click-me>
</app-click-me>
-->
<!--------------------------------------------------------------------->
<!--
<app-keyup>
</app-keyup>
<br>
<br>
<app-loop-back>
</app-loop-back>
<br>
<br>
<app-keyup2>
</app-keyup2>
<br>
<br>
<app-keyup3>
</app-keyup3>
<br>
<br>
<app-keyup4>
</app-keyup4>
<br>
<br>
<app-little-tour>
</app-little-tour>
-->
<!-------------********interacción de componentes******------------------->
<!--------------Pase datos de padre a hijo con enlace de  entrada---------->
<!--
<app-hero-parent>
</app-hero-parent>
-->
<!---------- propiedad de entrada de intercepción cambia ----->
<!--
<app-name-parent>
</app-name-parent>
-->

<!----intervenir en los cambios de propiedadesde entrada con el  ngOnChanges ()-------------->
<!--
<app-version-parent>
</app-version-parent>
-->
<!----------------El padre escucha el  evento hijo--------------------------->
<!--
<app-votetaker>
</app-votetaker>
-->
<!-----El padre interactúa con el niño a través del  variable local-------->