<!--
<app-click-me>
</app-click-me>
-->
<!--------------------------------------------------------------------->
<!--
<app-keyup>
</app-keyup>
<br>
<br>
<app-loop-back>
</app-loop-back>
<br>
<br>
<app-keyup2>
</app-keyup2>
<br>
<br>
<app-keyup3>
</app-keyup3>
<br>
<br>
<app-keyup4>
</app-keyup4>
<br>
<br>
<app-little-tour>
</app-little-tour>
-->
<!--------------------------------------------------------------------->
<!--
<app-hero-parent>
</app-hero-parent>
-->
<!--
<app-name-parent>
</app-name-parent>
-->
<app-version-parent>
</app-version-parent>